.search-criteria {
	display: flex;
}
.search-criteria input {
	height: 40px;
	width: 100%;
	font-size: 24px;
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid green;
    padding-left: 10px;

}
.search-criteria button {
	width: 100px;
	font-size: 20px;
	background: green;
	border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}
.search-result-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.search-result--item {
	border: 1px solid green;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin: 10px;
	min-width: 350px;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 10px;
}